* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: #333;
}

.productos-disponibles {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.productos-disponibles ul {
    list-style-type: none;
    padding: 0;
}

.productos-disponibles ul li {
    margin-bottom: 5px;
}

.comparar-precios {
    margin-top: 20px;
}

#resultado {
    margin-top: 20px;
    display: none;
}

.resultado p {
    margin-bottom: 20px;
    white-space: pre-line;
    text-align: left;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}